<div class="modal-dialog  modal-dialog-centered modal-login">
  <div class="modal-content">
    <%= form_with url: forgot_password_path, method: :put do |f|%>
      <div class="modal-header">
        <h4 class="modal-title">Forgot Password Reset</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      </div>

      <div class="modal-body">
        <div class="form-group">
          <%= label_tag :email, "Email", for: 'username' %>
          <%= email_field_tag :email, params[:email],class:"form-control", required: true %>
        </div>

      </div>
      <div class="modal-footer">
        <%= submit_tag "submit",class: 'btn btn-primary btn-block' %>
        <%= link_to "Login", login_path, remote: true, class: 'btn btn-outline-primary btn-block' %>
      </div>
    <% end %>
  </div>
</div>
