<div class="card">
  <div class="card-body">
    <div class="row user-row">
      <div class="col-md-6 img">
        <%= image_tag @user.images["small_url"] %>
      </div>
      <div class="col-md-6 details">
        <blockquote>
          <h5><%= @user.full_name %></h5>
          <small><cite title="Source Title"> </cite></small>
        </blockquote>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <div class="row justify-content-between">
      <div class="col-2 d-flex">
        <%= link_to "LIST #{ current_user_resource? ? "MY" : "USER" } WIDGETS",
                    user_widgets_path(current_user_resource? ? 'me' : @user.id),
                    class: 'btn btn btn-outline-primary card-link' %>

        <%= link_to "CREATE WIDGETS",
                    new_user_widget_path(current_user_resource? ? 'me' : @user.id),
                    class: 'btn btn btn-primary card-link', remote: true if current_user_resource? %>

      </div>
      <div class="col-4 d-flex">
        <% if current_user_resource? %>
          <%= link_to "CHANGE PASSWORD", user_password_path('me'), class: 'btn btn btn-outline-primary card-link' %>
          <%= link_to "EDIT PROFILE", edit_user_path, class: 'btn btn btn-outline-primary card-link' %>
        <% end %>
      </div>
    </div>
  </div>
</div>